<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="todo">

	<update id="createTodoTable" >
		CREATE TABLE IF NOT EXISTS Todo 
		( 
		  id text , 
		  content text , 
		  iscompleted boolean , 
		  createddate date , 
		  completeddate date 
		) 
	</update>
	<select id="selectTodo" resultType="com.chengjf.sparkdemo.module.todo.model.Todo">
		select * from Todo
		where id = #{id}
	</select>
	<select id="selectAllTodo" resultType="com.chengjf.sparkdemo.module.todo.model.Todo">
		select * from Todo
	</select>
	
	<insert id="insertTodo" parameterType="com.chengjf.sparkdemo.module.todo.model.Todo">
		INSERT INTO Todo 
		  ( 
		    id , 
		    content , 
		    iscompleted , 
		    createdDate , 
		    completedDate 
		  ) 
		VALUES 
		  ( 
		    #{id} , 
		    #{content} , 
		    #{isCompleted} , 
		    #{createdDate} , 
		    #{completedDate} 
		  )
	</insert>
</mapper>