{% extends "template/wiki/base.html" %}

{% block title %}
	{{ page.title }}
{% endblock title %}

{% block content %}
  <div id="confirmDelete" class="modal hide fade" aria-hidden="true">
    <div class="modal-header">
      <h3>Are you sure?</h3>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete {{ page.title }}?  This cannot be undone.</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">No</a>
      <a href="{{ url_for('wiki/delete/' + page.page_id) }}" class="btn btn-danger">Yes, delete.</a>
    </div>
  </div>
	<form class="form-horizontal" id="wiki-form" >
			<div class="form-group">
				<label for="namespace" class="col-sm-2 control-label">主题</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="namespace" name="namespace" placeholder="主题" disabled value={{page.namespace}}>
				</div>
			</div>
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">标题</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="title" name="title" placeholder="标题" disabled value={{page.title}}></div>
			</div>
			<div class="form-group">
				<label for="type" class="col-sm-2 control-label">类型</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="type" name="type" placeholder="类型" disabled value={{page.revision.text.type}}></div>
			</div>
			
			<div class="form-group">
				<label for="comment" class="col-sm-2 control-label">评论</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="comment" name="comment" placeholder="评论" disabled value={{page.comment}}></div>
			</div>
			<div class="form-group">
				<label for="createdDate" class="col-sm-2 control-label">创建时间</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="comment" name="comment" placeholder="创建时间" disabled value={{page.createdDate}}></div>
			</div>
		
			<div class="form-group">
				<label for="content" class="col-sm-2 control-label">内容</label>
				<textarea  id="content" name="content" hidden>{{page.revision.text.text}}</textarea>
				<div id="test-editormd-view" class="markdown-body editormd-html-preview col-sm-8"></div>
			</div>
		</form>
		
		<link rel="stylesheet" href="{{ url_for_static('editor/css/editormd.css')}}">
		<link type="text/css" rel="stylesheet" href="{{ url_for_static('editor/libs/codemirror/codemirror.min.css')}}">
		<link type="text/css" rel="stylesheet" href="{{ url_for_static('editor/libs/codemirror/addon/dialog/dialog.css')}}">
		<link type="text/css" rel="stylesheet" href="{{ url_for_static('editor/libs/codemirror/addon/search/matchesonscrollbar.css')}}">
		
		<script id="-lib-codemirror-codemirror-min" type="text/javascript" src="{{ url_for_static('editor/libs/codemirror/codemirror.min.js')}}"></script>
		<script id="-lib-codemirror-modes-min" type="text/javascript" src="{{ url_for_static('editor/libs/codemirror/modes.min.js')}}"></script>
		<script id="-lib-codemirror-addons-min" type="text/javascript" src="{{ url_for_static('editor/libs/codemirror/addons.min.js')}}"></script>
		<script id="-lib-marked-min" type="text/javascript" src="{{ url_for_static('editor/libs/marked.min.js')}}"></script>
		<script id="-lib-prettify-min" type="text/javascript" src="{{ url_for_static('editor/libs/prettify.min.js')}}"></script>
		
		<script type="text/javascript" src="{{ url_for_static('editor/editormd.min.js')}}"></script>
{% endblock content %}

{% block sidebar %}
{% if page.tags %}
<h3>Tags</h3>
  <ul>
      {% for tag in page.tags.split(',') %}
        <li><a href="{{ url_for('tag') }}">{{ tag|trim }}</a></li>
      {% endfor %}
  </ul>
{% endif %}
<h3>Actions</h3>
<ul class="nav nav-tabs nav-stacked">
	<li><a href="{{ url_for('wiki/edit/' + page.page_id) }}">Edit</a></li>
  <li><a href="{{ url_for('wiki/move/' + page.page_id) }}">Move</a></li>
  <li><a href="#confirmDelete" data-toggle="modal" class="text-error">Delete</a></li>
</ul>
{% endblock sidebar %}

{% block postscripts -%}
$(function() {
    var testEditormdView, testEditormdView2;
    console.log( $("#content").val());
    testEditormdView = editormd.markdownToHTML("test-editormd-view", {
        markdown        : $("#content").val(),
        //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
        htmlDecode      : "style,script,iframe",  // you can filter tags decode
        //toc             : false,
        tocm            : true,    // Using [TOCM]
        //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
        //gfm             : false,
        //tocDropdown     : true,
        // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
        emoji           : true,
        taskList        : true,
        tex             : true,  // 默认不解析
        flowChart       : true,  // 默认不解析
        sequenceDiagram : true,  // 默认不解析
    });
        
});
{% endblock postscripts %}

