{% extends "template/wiki/base.html" %}

{% block title %}
	{{ page.title }}
{% endblock title %}

{% block content %}

<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
	      <h3>确认删除？</h3>
	    </div>
	    <div class="modal-body">
	      <p>确认要删除<strong>{{ page.title }}</strong>吗?</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">取消</a>
	      <a href="{{ url_for('wiki/delete/' + page.pageId) }}" class="btn btn-danger">确认，删除</a>
	    </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  
	<textarea  id="content" name="content" hidden>{{page.revision.text.text}}</textarea>
	<div id="test-editormd-view" class="markdown-body editormd-html-preview col-sm-8"></div>
	
	<link rel="stylesheet" href="{{ url_for_static('editor/css/editormd.css')}}">
	<link type="text/css" rel="stylesheet" href="{{ url_for_static('editor/libs/codemirror/codemirror.min.css')}}">
	<link type="text/css" rel="stylesheet" href="{{ url_for_static('editor/libs/codemirror/addon/dialog/dialog.css')}}">
	<link type="text/css" rel="stylesheet" href="{{ url_for_static('editor/libs/codemirror/addon/search/matchesonscrollbar.css')}}">
	
	<script id="-lib-codemirror-codemirror-min" type="text/javascript" src="{{ url_for_static('editor/libs/codemirror/codemirror.min.js')}}"></script>
	<script id="-lib-codemirror-modes-min" type="text/javascript" src="{{ url_for_static('editor/libs/codemirror/modes.min.js')}}"></script>
	<script id="-lib-codemirror-addons-min" type="text/javascript" src="{{ url_for_static('editor/libs/codemirror/addons.min.js')}}"></script>
	<script id="-lib-marked-min" type="text/javascript" src="{{ url_for_static('editor/libs/marked.min.js')}}"></script>
	<script id="-lib-prettify-min" type="text/javascript" src="{{ url_for_static('editor/libs/prettify.min.js')}}"></script>
	
	<script type="text/javascript" src="{{ url_for_static('editor/editormd.min.js')}}"></script>
{% endblock content %}

{% block sidebar %}
{% if page.tags %}
<h3>Tags</h3>
  <ul>
      {% for tag in page.tags.split(',') %}
        <li><a href="{{ url_for('wiki/tag/'+tag) }}">{{ tag|trim }}</a></li>
      {% endfor %}
  </ul>
{% endif %}
<hr/>
<h3>基本信息</h3>

<table>
	<thead></thead>
	<tbody>
	<tr>
		<td style="text-align:right;padding-right:10px"><strong>主题</strong></td>
		<td >{{page.namespace}}</td>
	</tr>
	<tr>
		<td style="text-align:right;padding-right:10px"><strong>类型</strong></td>
		<td >{{page.revision.text.type}}</td>
	</tr>
	<tr>
		<td style="text-align:right;padding-right:10px"><strong>标签</strong></td>
		<td >{{page.tags}}</td>
	</tr>
	<tr>
		<td style="text-align:right;padding-right:10px"><strong>创建时间</strong></td>
		<td >{{page.createdDate}}</td>
	</tr>
	<tr>
		<td style="text-align:right;padding-right:10px"><strong>浏览次数</strong></td>
		<td >{{page.counter}}</td>
	</tr>
	</tbody>
</table>
<hr/>

<h3>操作</h3>
<ul class="nav nav-tabs nav-stacked">
  <li><a href="{{ url_for('wiki/edit/' + page.pageId) }}">编辑</a></li>
  <!-- <li><a href="{{ url_for('wiki/move/' + page.pageId) }}">Move</a></li> -->
  <li><a href="#confirmDelete" data-toggle="modal" data-target="#confirmDelete" class="text-error">删除</a></li>
  </ul>
{% endblock sidebar %}

{% block postscripts -%}
$(function() {
    var testEditormdView, testEditormdView2;
    console.log( $("#content").val());
    testEditormdView = editormd.markdownToHTML("test-editormd-view", {
        markdown        : $("#content").val(),
        //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
        htmlDecode      : "style,script,iframe",  // you can filter tags decode
        //toc             : false,
        tocm            : true,    // Using [TOCM]
        //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
        //gfm             : false,
        //tocDropdown     : true,
        // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
        emoji           : true,
        taskList        : true,
        tex             : true,  // 默认不解析
        flowChart       : true,  // 默认不解析
        sequenceDiagram : true,  // 默认不解析
    });
        
});
{% endblock postscripts %}

