{% extends "template/wiki/base.html" %}

{% block title %}
{% if search %}
	"{{ search }}"的搜索结果
{% else %}
	搜索
{% endif %}
{% endblock title %}

{% block content %}
<div class="row">
	<div class="span8 offset1">
		<form class="form-inline well" method="POST">
			<input type="text" class="form-control" id="term" name="term" placeholder="关键字">
			<input type="submit" class="btn btn-success pull-right" value="搜索">
		</form>
	</div>
</div>

{% if search %}
	{% if results %}
		<ul>
			{% for result in results %}
				<li><a href="{{ url_for('wiki/display/' + result.pageId) }}">{{ result.title }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>没有搜索结果。</p>
	{% endif %}
{% endif %}
{% endblock content %}