{% extends "template/wiki/base.html" %}

{% block title %}页面标签-{{ tag }}{% endblock title %}

{% block content %}
{% if pages %}
	<table class="table">
		<thead>
			<tr>
				<th>标题</th>
				<th>日期</th>
			</tr>
		</thead>
		<tbody>
			{% for page in pages %}
				<tr>
					<td><a href="{{ url_for('wiki/display/'+ page.pageId) }}">{{ page.title }}</a></td>
					<td><a href="{{ url_for('wiki/display/'+ page.pageId) }}">{{ page.createdDate }}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>目前没有页面包含有 {{ tag }}标签。</p>
{% endif %}
{% endblock content %}