<!DOCTYPE html>
<html lang="zh-CN">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap core CSS -->
    <link href="${baseUrl!}/static/bootstrap/css/bootstrap.min.css?v=20150604" rel="stylesheet">

    <script type="text/javascript" src="${baseUrl!}/static/bootstrap/js/jquery.min.js?v=20150604"></script>
    <script type="text/javascript" src="${baseUrl!}/static/bootstrap/js/bootstrap.min.js?v=20150604"></script>
    <script src="${baseUrl!}/static/bootstrap/js/jquery-ui.js"></script>
        
    <script src="${baseUrl!}/static/js/jfinalbbs.js"></script>
	
	<script src="${baseUrl!}/static/layer/layer.js"></script>

<title>${title!}</title>
</head>
